@media screen and (max-width: 991px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -65%;
  }
  .row-offcanvas-right.active {
    right: 65%;
  }
  .sidebar-offcanvas {
    position: fixed;
    top: 0;
    width: 85%;
  }
}
#menu-btn {
  display: none;
}
@media screen and (max-width: 991px) {
  #menu-btn {
    display: block;
    position: absolute;
    right: 15px;
  }
}
#menu-btn .btn-back {
  display: none;
}
#menu-btn .btn-text {
  display: none;
}
#menu-btn .active {
  display: inline !important;
}
#sidebar {
  overflow-y: scroll;
  height: 85%;
  max-width: 400px;
}
#sidebar .list-group {
  background-color: transparent;
  border: 0;
}
#sidebar .list-group .list-group-item {
  border: 0;
  margin-left: 20px;
  color: #666;
}
@media screen and (max-width: 991px) {
  #sidebar {
    position: absolute;
    margin-left: 185%;
    top: 20px;
  }
}
.btn-blue {
  background-color: #7eb5d3;
  color: #fff;
}
.btn-blue:hover,
.btn-blue:focus {
  background-color: #a4cbe0;
  color: #000;
  outline: none !important;
}
