<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

  <bean id="geogitDispatcher" class="org.geogit.rest.GeogitDispatcher" />

  <bean id="geogitDispatcherMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="alwaysUseFullPath" value="true" />
    <property name="mappings">
      <props>
        <prop key="/geogit">geogitDispatcher</prop>
        <prop key="/geogit/**">geogitDispatcher</prop>
      </props>
    </property>

  </bean>

  <bean id="geogitConfigMapping" class="org.geogit.rest.GeogitRESTMapping">
    <property name="routes">
      <map>
        <entry>
          <key><value></value></key>
          <value>geogitRepositoryFinder</value>
        </entry>
        <entry>
          <key><value>/</value></key>
          <value>geogitRepositoryFinder</value>
        </entry>
        <entry>
          <key><value>/{repository}</value></key>
          <value>geogitRepositoryFinder</value>
        </entry>
      </map>
    </property>
  </bean>

  <bean id="geogitRepositoryFinder" class="org.geogit.rest.RepositoryFinder">
    <constructor-arg ref="catalog" />
  </bean>

  <!--bean id="repositoryFinder" class="org.geogit.geoserver.rest.RepositoryFinder" / -->
</beans>
